html
  head
    title Tahoma Devices
  body
    h1 Groups
    table(width='100%', style='text-align: left')
      tbody
        tr(style='background-color: #ccc')
          th(style='padding: 10px') Name
          th(style='padding: 10px') Oid
          th(style='padding: 10px') Actions
        each group in groups
          tr
            td(style='padding: 5px')= group.name
            td(style='padding: 5px')= group.oid
            td(style='padding: 5px')
              a(href="/api/v1/groupExecute?oid="+group.oid, target='_tab') trigger

    h1 Devices
    table(width='100%', style='text-align: left')
      tbody
        tr(style='background-color: #ccc')
          th(style='padding: 10px') Name
          th(style='padding: 10px') Device URL
          th(style='padding: 10px') Encoded
          th(style='padding: 10px') Actions
        each device in devices
          tr
            td(style='padding: 5px')= device.name
            td(style='padding: 5px')= device.url
            td(style='padding: 5px')= device.encoded
            td(style='padding: 5px')
              a(href="/api/v1/execute?deviceurl="+device.encoded+"&command=open", target='_tab') open
              |  | 
              a(href="/api/v1/execute?deviceurl="+device.encoded+"&command=stop", target='_tab') stop
              |  | 
              a(href="/api/v1/execute?deviceurl="+device.encoded+"&command=close", target='_tab') close